#taskbar_button {
    padding: 0px 8px;

    margin: 2px 1px;

    background-color: transparent;
    background-image: none;

    border-color: rgba(80, 80, 80, 0.2);

    border-radius: 10px;
}

#taskbar_box {
    padding: 0px;
}

#panel_window {
    border-radius: 12px;

    background-color: rgba(120, 120, 120, 0.5);

    border-width: 1px;
    border-style: solid;
    border-color: rgba(80, 80, 80, 0.8);

    box-shadow: 2px 2px 2px 1px black;
}

#panel_box {
    padding: 4px;
    padding-left: 5px;
    padding-right: 16px;
    margin: 2px;
}

#panel_applications_menu_window {
    background-color: black;
}

#panel_applications_menu_item {
    border-radius: 12px;
    background-image: none;
    border: none;
    box-shadow: none;
}

#panel_applications_menu_item:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

#panel_applications_menu_search_entry {
    border-radius: 120px;
    padding: 0px 20px;
}

#panel_applications_menu_scrolled_window {
    box-shadow: none;
    border: none;
    border-image: none;
}

#panel_applications_menu_scrolled_window * {
    box-shadow: none;
    border: none;
    border-image: none;
}