#panel_button {
    padding: 0px 8px;

    margin: 2px 1px;

    background-color: transparent;
    background-image: none;

    border-color: rgba(80, 80, 80, 0.2);

    border-radius: 10px;
}

#panel_tray_menu_button {
    padding: 16px;

    border-radius: 12px;

    background-image: none;

    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.2);
}

#panel_clock {
    padding: 0px 4px;
    margin: 2px 1px;
}

#taskbar_box {
    padding: 0px;
}

#panel_window {
    border-radius: 12px;

    background-color: rgba(120, 120, 120, 0.5);

    border-width: 1px;
    border-style: solid;
    border-color: rgba(80, 80, 80, 0.8);

    box-shadow: 2px 2px 2px 1px black;
}

#panel_box {
    padding: 4px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;
}

#panel_applications_menu_window {
    background-color: black;
}

#panel_applications_menu_item {
    border-radius: 12px;
    background-image: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding-bottom: 0px;
}

#panel_applications_menu_item:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

#panel_applications_menu_search_entry {
    border-radius: 120px;
    padding: 0px 20px;
}

#panel_tray_menu_window_box {
    padding: 16px;
}

#panel_power_menu_button {
    background-color: transparent;
    background-image: none;
}

#media_player_box {
    padding: 16px;

    border-radius: 12px;

    margin-top: 10px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.2);
}

#media_player_button {
    background-color: transparent;
    background-image: none;

    border-radius: 16px;
    padding: 4px 16px;
}

#control_center_grid {
    margin-top: -10px;
}

#control_center_back_button {
    padding: 0px;

    margin-bottom: 8px;
}

#control_center_back_label {
    font-size: 16px;

    margin: 2px;
    margin-bottom: 10px;
}