.panel_applications_menu_window {
    background-color: rgba(51, 51, 51, 0.3);
}

.panel_applications_menu_item {
    border-radius: 12px;
    background-image: none;
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding-bottom: 0px;
}

.panel_applications_menu_item:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

.panel_applications_menu_search_entry {
    border-radius: 120px;
    padding: 0px 20px;
}